.model-viewer-wrapper {
  display: flex;
}

model-viewer {
  width: 100vw;
  height: 70vh;
}

.toolbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  bottom: 60px;
  left: 0px;
}

ul {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.position1 {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
}

.position2 {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 15px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
}

.position3 {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 15px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
}

.position4 {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 15px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 20px;
}

#default-progress-bar {
  margin-top: 50px;
}
